<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <nav>
    <div class="menu-toggle">&#9776;</div>
    <ul class="menu">
      <li><a href="../index.html">File View</a></li>
      <li><a href="module_index.html">Module View</a></li>
      <li><a href="../inheritance_tree.html">Type View</a></li>
    </ul>
  </nav>

  <main>
    <aside class="sidebar">
      {% block sidebar %}{% endblock %}
    </aside>

    <article class="content">
      {% block content %}{% endblock %}
    </article>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const menuToggle = document.querySelector('.menu-toggle');
      const menu = document.querySelector('.menu');
      const menuItems = document.querySelectorAll('.menu a');

      menuToggle.addEventListener('click', () => {
        menu.classList.toggle('active');
      });

      menuItems.forEach(item => {
        item.addEventListener('click', (event) => {
          event.stopPropagation();
          menu.classList.remove('active');
        });
      });

      document.addEventListener('click', (event) => {
        if (!event.target.closest('.menu') && !event.target.closest('.menu-toggle')) {
          menu.classList.remove('active');
        }
      });
    });
  </script>
</body>
</html>