{% extends "layouts/base_module_layout.html" %}

{% block title %}
  {% if is_index %}Module Index{% else %}{{ module_data.module_name }}{% endif %}
{% endblock %}

{% block sidebar %}
  <nav>
    <ul>
      {% for module_name in module_names %}
      <li><a href="{{ module_name }}.html">{{ module_name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block content %}
  {% if is_index %}
    <h1>Module Index</h1>
    <p>{{ content_data }}</p>
  {% else %}
    <h1>Module {{ module_data.module_name }}</h1>
    <p class="file-name">Defined in:
      <a href="../{{ module_data.file_name.split('.')[0] }}.html">{{ module_data.file_name }}</a>
    </p>

    <section class="module-description">
      <p>{{ module_data.module_description }}</p>
    </section>

    {% include "sections/summary/uses_summary.html" %}
    {% include "sections/summary/enums_summary.html" %}
    {% with context_data=module_data, context_type="module" %}
      {% include "sections/summary/types_summary.html" %}
      {% include "sections/summary/parameters_summary.html" %}
      {% include "sections/summary/variables_summary.html" %}
      {% include "sections/summary/interfaces_summary.html" %}
      {% include "sections/summary/functions_summary.html" %}
      {% include "sections/summary/subroutines_summary.html" %}
    {% endwith %}

    {% include "sections/details/enums_details.html" %}
    {% with context_data=module_data, context_type="module" %}
      {% include "sections/details/types_details.html" %}
      {% include "sections/details/interfaces_details.html" %}
      {% include "sections/details/functions_details.html" %}
      {% include "sections/details/subroutines_details.html" %}
      {% set common_blocks = module_data.common_blocks %}
      {% include "sections/details/common_blocks_details.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}