body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f2f2f2;
    padding: 20px;
}

nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul.menu li {
    margin-right: 20px;
}

nav ul.menu li:last-child {
    margin-right: 0;
}

nav ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.menu-checkbox {
    display: none;
}

main {
    display: flex;
    min-height: calc(100vh - 60px);
}

aside.sidebar {
    width: 25%;
    background-color: #f9f9f9;
    padding: 20px;
    flex-shrink: 0; 
}

aside.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

aside.sidebar ul ul {
    padding-left: 20px;
}

aside.sidebar a {
    text-decoration: none;
    color: #333;
}

article.content {
    flex-grow: 1;
    padding: 20px;
}

@media screen and (min-width: 768px) {

    .menu-checkbox,
    .menu-toggle {
        display: none;
    }

    nav ul.menu {
        display: flex;
    }
}

@media screen and (max-width: 767px) {

    nav ul.menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f2f2f2;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul.menu li {
        display: block;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: #333;
        color: #fff;
    }

    .menu-toggle:hover {
        background-color: #555;
    }

    .menu-checkbox:checked~ul.menu {
        display: block;
    }

    .menu-checkbox:not(:checked)~.menu {
        display: none;
    }


    main {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 60px);
    }

    aside.sidebar {
        width: 100%;
        background-color: #f9f9f9;
        padding: 20px;
        order: 2;
        margin-top: auto;
    }

    article.content {
        flex-grow: 1;
        padding: 20px;
        order: 1;
    }
    
    /* main {
        flex-direction: column;
    }

    aside.sidebar {
        width: 100%;
        height: 25vh; 
        order: 2;
    }

    article.content {
        order: 1;
    } */
}