<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Files{% endblock %}</title>
  {% set levels_up = current_path.count(separator) %}
  {% set relative_path = (('..' + separator) * levels_up) ~ 'static/css/styles.css' %}
  <link rel="stylesheet" href="{{ relative_path }}">
</head>

<body>
  <!-- Navigation menu -->
  <nav>
    <ul class="menu">
      <li><a href="index.html">File View</a></li>
      <li><a href="modules/module_index.html">Module View</a></li>
    </ul>
  </nav>

  <main>
    <!-- Sidebar -->
    <aside class="sidebar">
      {% block sidebar %}
      <nav>
        <ul>
          {% macro render_list(contents, path, current_path, separator) %}
          {% set files = [] %}
          {% set directories = [] %}

          {% for key, value in contents.items() %}
          {% if value is string %}
          {% set _ = files.append(key) %}
          {% else %}
          {% set _ = directories.append({'key': key, 'value': value}) %}
          {% endif %}
          {% endfor %}

          {% for file in files | sort %}
          <li>
            {% if file.endswith('.f90') %}
            {% set file_path = path ~ separator ~ file if path else file %}
            {% set href = file_path[:-4] ~ '.html' %}
            {% set levels_up = current_path.count(separator) + (1 if not is_index else 0) %}
            {% set relative_href = (('..' ~ separator) * levels_up) ~ href %}
            <a href="{{ relative_href }}">{{ file }}</a>
            {% else %}
            {{ file }}
            {% endif %}
          </li>
          {% endfor %}

          {% for item in directories | sort(attribute='key') %}
          <li>
            {{ item.key }}
            <ul>
              {{ render_list(item.value,
              path ~ separator ~ item.key if path else item.key,
              current_path,
              separator) }}
            </ul>
          </li>
          {% endfor %}
          {% endmacro %}

          {% set current_path = path %}
          {{ render_list(sidebar_data, '', current_path, separator) }}
        </ul>
      </nav>
      {% endblock %}
    </aside>

    <!-- Main content area -->
    <article class="content">
      {% block content %}
      {{ content_data }}
      <pre><code class="fortran">{{ code }}</code></pre>
      {% endblock %}
    </article>
  </main>
</body>

</html>