<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if is_index %}Code Documentation{% else %}{{ file }}{% endif %}</title>
  <link rel="stylesheet" href="{{ relative_path }}static/css/styles.css">
</head>

<body>
  <nav>
    <div class="menu-toggle">&#9776;</div>
    <ul class="menu">
      <li><a href="{{ relative_path }}index.html">File View</a></li>
      <li><a href="{{ relative_path }}modules/module_index.html">Module View</a></li>
      <li><a href="{{ relative_path }}inheritance_tree.html">Inheritance Tree</a></li>
    </ul>
  </nav>

  <main>
    <aside class="sidebar">
      <nav>
        <ul>
          {% macro render_tree(tree) %}
            {% for item in tree.children %}
              {% if item is string %}
                {% set file_name = item.split('/')[-1] %}
                <li><a href="{{ relative_path }}{{ item | replace('.f90', '.html') }}">{{ file_name }}</a></li>
              {% else %}
                <li>
                  {{ item.name }}/
                  {% if item.children %}
                    <ul>
                      {{ render_tree(item) }}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          {% endmacro %}
    
          <ul>
            {{ render_tree(sidebar_data) }}
          </ul>
        </ul>
      </nav>
    </aside>

    <!-- Main content area -->
    <article class="content">
      {% if is_index %}
        <h1>Welcome to your code!</h1>
        <p>{{ content_data }}</p>
      {% else %}
        <h1>{{ file }}</h1>
        <pre><code class="fortran">{{ code }}</code></pre>
      {% endif %}
    </article>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const menuToggle = document.querySelector('.menu-toggle');
      const menu = document.querySelector('.menu');
      const menuItems = document.querySelectorAll('.menu a');
    
      // Toggle menu when hamburger icon is clicked
      menuToggle.addEventListener('click', () => {
        menu.classList.toggle('active');
      });
    
      // Close menu when a menu item is clicked
      menuItems.forEach(item => {
        item.addEventListener('click', (event) => {
          event.stopPropagation(); // Prevent event from bubbling up to document
          menu.classList.remove('active');
        });
      });
    
      // Close menu when clicking outside
      document.addEventListener('click', (event) => {
        if (!event.target.closest('.menu') && !event.target.closest('.menu-toggle')) {
          menu.classList.remove('active');
        }
      });
    });
    </script>
</body>

</html>