body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14pt;
}

nav,
aside,
.content {
  padding: 15px;
}

main a {
  color: #00008B;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main .content h1 {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #333333;
}

.file-name {
  font-style: italic;
}

pre {
  background-color: #f4f4f4;
  padding: 15px;
  overflow-x: auto;
}

section:not(.module-description) {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  /*TODO only for big screens */
}

.functions-summary table,
.subroutines-summary table,
.parameters-summary table {
  width: 100%;
  border-collapse: collapse;
}

.functions-summary th,
.subroutines-summary th,
.parameters-summary th {
  background-color: #dddddd;
  padding: 10px;
  text-align: left;
}

.functions-summary td,
.subroutines-summary td,
.parameters-summary td {
  padding: 10px;
  vertical-align: top;
}

.functions-summary tr:nth-child(even),
.subroutines-summary tr:nth-child(even),
.parameters-summary tr:nth-child(even) {
  background-color: #f2f2f2;
}

.functions-summary tr:nth-child(odd),
.subroutines-summary tr:nth-child(odd),
.parameters-summary tr:nth-child(odd) {
  background-color: #ffffff;
}

.functions-summary,
.subroutines-summary,
.function-description,
.subroutine-description,
.parameters-summary {
  display: block;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 0.9em;
  color: #555555;
}

.function-header,
.subroutine-header,
.parameter-header {
  background-color: #dddddd;
  padding: 10px;
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;
}

.function-attributes,
.subroutine-attributes,
.parameter-attributes {
  font-weight: normal;
  margin-right: 10px;
}

.function-body,
.subroutine-body {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 0;
}

.function-args,
.subroutine-args {
  list-style-type: none;
  padding-left: 20px;
}

.function-args li,
.subroutine-args li {
  line-height: 1.25;
  margin-bottom: 0.05em;
}

.arg-name {
  font-style: italic;
  color: #006666;
}

.function-details strong,
.subroutine-details strong {
  font-weight: bold;
}

.inheritance-tree {
  list-style-type: none;
  padding-left: 20px;
}

.inheritance-tree ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 10px;
}

.inheritance-tree li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.inheritance-tree li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
  width: 20px;
  height: 15px;
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
  }

  .menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu.active {
    display: block;
  }

  .menu li {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  .menu li:last-child {
    border-bottom: none;
  }

}

@media screen and (min-width: 769px) {
  main .content {
    flex-grow: 1;
    padding: 20px;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  nav {
    width: 100%;
  }

  .menu-checkbox,
  .menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  main {
    display: flex;
    flex-grow: 1;
  }

  aside {
    width: 25%;
    overflow-y: auto;
  }

  .content {
    width: 75%;
    overflow-y: auto;
  }
}