{% set types = context_data.types if context_data and context_data.types else {} %}

{% if types %}
  <section class="types-details" aria-labelledby="types-details-heading">
    <h2 id="types-details-heading">Type Details</h2>
    {% for type_name, type_data in types.items() %}
      <section class="type" id="type-{{ type_name }}" aria-labelledby="{{ type_name }}-heading">
        {% include "components/type/header.html" %}
        <div class="type-body">
          <p>{{ type_data.description }}</p>
          {% include "components/type/enums.html" %}
          {% include "components/type/data_components.html" %}
          {% include "components/type/procedures.html" %}
          {% include "components/type/generic_interfaces.html" %}
        </div>
      </section>
    {% endfor %}
  </section>
{% endif %}